* {
  background-color: #232531;
  color: #4cc281;
  font-family: 'Rubik', sans-serif;
  box-sizing: border-box;
}

.App {

  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: auto;
}

h1 {
  padding-bottom: 25px;
}

.resetButton {
  padding-top: 25px;
  max-width: 150px;
}


button {
  border: none;
  background-color: #4cc281;
  color: #232531;
  padding: 15px 32px;
  margin-top: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;

  cursor: pointer;
}

button:hover {
  background-color: #2fa363;
}

@keyframes custom-fadein {
  0%   {
    background-color: rgba(0,0,0,0);
  }
  100% {
    background-color: rgba(0,0,0,0.9);
  }
}

.overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.95);
  z-index: 9999;

  animation-name: custom-fadein;
  animation-duration: 0.7s;
}

.overlayContainer {
  background-color: transparent;

  position: absolute;
  top: 40%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.overlayText {
  background-color: transparent;
}

h5 {
  margin: 0;
  text-align: center;
  color: white;
  font-size: 18px;
  padding-bottom: 30px;
  background-color: transparent;
}

.overlayButton {
  margin: 0;
  font-size: 32px;
}

.main {
  display: flex;
  flex-direction: row;

  box-sizing: border-box;
  width: 100%;
}

h4 {
  padding-left: 30px;
  text-align: center;
  line-height: 1.5;
}